:root {
    --main-width: 55%;
}

.fade {
    transition: opacity 0.1s linear;
}

body:not(.dark) {
    @import "syntax-light";
    .post-content pre code {
        color: black;
    }
}
body.dark {
    @import "syntax-dark";
    .post-content pre code {
        color: #f8f8f2;
    }
}

img {
    margin: 0 !important;
    display: inline-block;
}

table {
    display: table;
}

.center {
    text-align: center;
}

/* Fix Title Boldness */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500 !important; /* Default is often 700 or bold. 600 is semi-bold. */
}

/* Optional: Make the specific post title slightly lighter if needed */
.post-title {
    font-weight: 600 !important;
}
