:root {
    --main-width: 840px;
}

.fade {
    transition: opacity 0.1s linear;
}

a:hover {
    color: inherit;
}

body:not(.dark) {
    @import "syntax-light";
}
body.dark {
    @import "syntax-dark";
}

img {
    margin: 0 !important;
    display: inline-block;
}
