.notice {
    border-radius: var(--radius);
    position: relative;
    margin: 2rem 0;
    padding: 0 0.75rem;
    overflow: auto;
}
.notice .notice-title {
    position: relative;
    font-weight: 700;
    margin: 0 -0.75rem;
    padding: 0.2rem 3.5rem;
    border-bottom: 1px solid var(--theme);
}
.notice .notice-title i {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translate(-50%, -50%);
}
.notice .notice-content {
    display: block;
    margin: 1.5rem 1rem;
}

.notice.tip {
    background-color: #7e57c21a;
    box-shadow: 0px 0px 6px #5e35b1;
}
.notice.tip .notice-title {
    background-color: #673ab71a;
}
.notice.tip .notice-title i {
    color: #5e35b1;
}

.notice.question {
    background-color: #26a69a1a;
    box-shadow: 0px 0px 6px #00897b;
}
.notice.question .notice-title {
    background-color: #0096881a;
}
.notice.question .notice-title i {
    color: #00897b;
}

.notice.example {
    background-color: #8d6e631a;
    box-shadow: 0px 0px 6px #6d4c41;
}
.notice.example .notice-title {
    background-color: #7955481a;
}
.notice.example .notice-title i {
    color: #6d4c41;
}

.notice.note {
    background-color: #9ccc651a;
    box-shadow: 0px 0px 6px #7cb342;
}
.notice.note .notice-title {
    background-color: #8bc34a1a;
}
.notice.note .notice-title i {
    color: #7cb342;
}

.notice.info {
    background-color: #74dd741a;
    box-shadow: 0px 0px 6px #74dd74;
}
.notice.info .notice-title {
    background-color: #2ebd2e1a;
}
.notice.info .notice-title i {
    color: #74dd74;
}

.notice.theorem {
    background-color: #42a5f51a;
    box-shadow: 0px 0px 6px #1e88e5;
}
.notice.theorem .notice-title {
    background-color: #2196f31a;
}
.notice.theorem .notice-title i {
    color: #1e88e5;
}

.notice.warning {
    background-color: #ffca281a;
    box-shadow: 0px 0px 6px #ffb300;
}
.notice.warning .notice-title {
    background-color: #ffc1071a;
}
.notice.warning .notice-title i {
    color: #ffb300;
}

.notice.error {
    background-color: #ef53501a;
    box-shadow: 0px 0px 6px #e53935;
}
.notice.error .notice-title {
    background-color: #f443361a;
}
.notice.error .notice-title i {
    color: #e53935;
}

.notice.definition {
    background-color: #ef53501a;
    box-shadow: 0px 0px 6px #e53935;
}
.notice.definition .notice-title {
    background-color: #f443361a;
}
.notice.definition .notice-title i {
    color: #e53935;
}

.notice.lemma {
    background-color: #5c6bc01a;
    box-shadow: 0px 0px 6px #3949ab;
}
.notice.lemma .notice-title {
    background-color: #5c6bc01a;
}
.notice.lemma .notice-title i {
    color: #3949ab;
}
