{{ if .Param "math" }}
    {{ partialCached "math.html" . }}
{{ end }}

{{ partial "mermaid.html" }}

{{ $opts := dict "transpiler" "libsass" "targetPath" "css/custom.css" }}
{{ with resources.Get "css/extended/custom.scss" | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{{ $js := resources.Match "js/*.js" | resources.Concat "assets/main.js" | js.Build }}
<script src="{{ $js.RelPermalink }}"></script>
