<script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
></script>
<script>
    MathJax = {
        tex: {
            displayMath: [
                ["\\[", "\\]"],
                ["$$", "$$"],
            ], // block
            inlineMath: [
                ["\\(", "\\)"],
                ["$", "$"],
            ], // inline
        },
    };
</script>

<div style="display: none;">
$$
    \newcommand{\R}{\mathbb{R}}
    \newcommand{\N}{\mathbb{N}}
    \newcommand{\O}{\mathcal{O}}
    \newcommand{\dist}{\text{dist}}
    \newcommand{\vec}[1]{\mathbf{#1}}

    \newcommand{\Tr}[1]{\mathrm{Tr}\left(#1\right)}

    \newcommand{\E}{\mathbb{E}}
    \newcommand{\Var}{\mathrm{Var}}
    \newcommand{\W}{\mathbf{W}} % Wasserstein distance
    \newcommand{\SW}{\mathbf{SW}} % Sliced-Wasserstein distance
$$
</div>
